<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <title>AllinOne</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <!-- <base href="/home"> -->
    <base href="/">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <link href="./public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="./public/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- AngularJS ui-select -->
    <link href="./public/bower_components/angular-ui-select/dist/select.min.css" rel="stylesheet">
    <!-- Angular Notify -->
    <link href="./public/bower_components/angular-notify/dist/angular-notify.css" rel="stylesheet">
    <!--  -->
    <link href="./public/bower_components/jquery-timepicker-jt/jquery.timepicker.css" rel="stylesheet" />
    <!-- Angular Busy -->
    <link href="./public/bower_components/angular-busy/dist/angular-busy.css" rel="stylesheet" />
    <!-- Angular Loading Bar -->
    <link href="./public/bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <!-- Angular Toaster -->
    <link href="./public/bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet" />
    <!-- TextAngular -->
    <link href="./public/bower_components/textAngular/dist/textAngular.css" rel="stylesheet" />
    <!-- ngDialog -->
    <link href="./public/bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet" />
    <link href="./public/bower_components/ngDialog/css/ngDialog-theme-default.css" rel="stylesheet" />
    <!-- ng-table -->
    <link href="./public/bower_components/ng-table/dist/ng-table.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="./public/css/style.css" rel="stylesheet">
</head>

<body ng-app="allinone">
    <nav-bar></nav-bar>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div ncy-breadcrumb></div>
                </div>
            </div>
            <div data-ui-view></div>
        </div>
    </div>
    <!-- lodash -->
    <script type="text/javascript" src="./public/bower_components/lodash/dist/lodash.min.js"></script>
    <!-- async -->
    <script type="text/javascript" src="./public/bower_components/async/dist/async.min.js"></script>
    <!-- Angular JS -->
    <script type="text/javascript" src="./public/bower_components/angular/angular.js"></script>
    <!-- Angular Cookies -->
    <script type="text/javascript" src="./public/bower_components/angular-cookies/angular-cookies.js"></script>
    <!-- Ng-File-Upload -->
    <script type="text/javascript" src="./public/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <!-- Angular Route -->
    <script type="text/javascript" src="./public/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- Angular Resource -->
    <script type="text/javascript" src="./public/bower_components/angular-resource/angular-resource.min.js"></script>
    <!-- Angular Bootstrap -->
    <script type="text/javascript" src="./public/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- Ng-File-Upload -->
    <script type="text/javascript" src="./public/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <!-- AngularJS ui-select -->
    <script type="text/javascript" src="./public/bower_components/angular-ui-select/dist/select.min.js"></script>
    <!-- Angular Sanitize -->
    <script type="text/javascript" src="./public/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- Angular notify -->
    <script type="text/javascript" src="./public/bower_components/angular-notify/dist/angular-notify.js"></script>
    <!-- textAngular -->
    <script type="text/javascript" src="./public/bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
    <script type="text/javascript" src="./public/bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="./public/bower_components/textAngular/dist/textAngular.min.js"></script>
    <!-- Angular Loading Bar -->
    <script type="text/javascript" src="./public/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- Angular BreadCrumb -->
    <script type="text/javascript" src="./public/bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
    <!-- Angular Toaster -->
    <script type="text/javascript" src="./public/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- Angular Busy -->
    <script type="text/javascript" src="./public/bower_components/angular-busy/dist/angular-busy.js"></script>
    <!-- Angular Validation -->
    <script type="text/javascript" src="./public/bower_components/angular-validation/dist/angular-validation.js"></script>
    <script type="text/javascript" src="./public/bower_components/angular-validation/dist/angular-validation-rule.js"></script>
    <!-- ngDialog -->
    <script type="text/javascript" src="./public/bower_components/ngDialog/js/ngDialog.min.js"></script>
    <!-- ngTable -->
    <script type="text/javascript" src="./public/bower_components/ng-table/dist/ng-table.min.js"></script>
    <!-- Angular App -->
    <script type="text/javascript" src="./public/js/app.js"></script>
    <script type="text/javascript" src="./public/js/timepicker.js"></script>
    <!-- Angular Controller -->
    <script type="text/javascript" src="./public/js/controllers/about.js"></script>
    <script type="text/javascript" src="./public/js/controllers/business.js"></script>
    <script type="text/javascript" src="./public/js/controllers/cuisines.js"></script>
    <script type="text/javascript" src="./public/js/controllers/events.js"></script>
    <script type="text/javascript" src="./public/js/controllers/industry.js"></script>
    <script type="text/javascript" src="./public/js/controllers/property.js"></script>
    <script type="text/javascript" src="./public/js/controllers/restaurant.js"></script>
    <script type="text/javascript" src="./public/js/controllers/specials.js"></script>
    <!-- Angular Directives -->
    <script type="text/javascript" src="./public/js/directives/header.js"></script>
    <!-- Angular Services -->
    <script type="text/javascript" src="./public/js/services/Auth.js"></script>
    <script type="text/javascript" src="./public/js/services/authInterceptor.js"></script>
    <script type="text/javascript" src="./public/js/services/about.js"></script>
    <script type="text/javascript" src="./public/js/services/cuisines.js"></script>
    <script type="text/javascript" src="./public/js/services/industry.js"></script>
    <script type="text/javascript" src="./public/js/services/business.js"></script>
    <script type="text/javascript" src="./public/js/services/events.js"></script>
    <script type="text/javascript" src="./public/js/services/upload.js"></script>
</body>

</html>
